<h1>Edit Role for <%= @target_chat_member.user.name %></h1>

<%= form_for [@workspace, @chat, @target_chat_member], url: workspace_chat_chat_member_path(@workspace, @chat, @target_chat_member), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, options_for_select([['Member', 'member'], ['Moder', 'moder']], @target_chat_member.role), {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update Role', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to Members List', workspace_chat_chat_members_path(@workspace, @chat), class: 'btn btn-secondary' %>
