<h1>Edit Role for <%= @chat.name %></h1>

<%= form_for [@workspace, @chat], url: workspace_chat_path(@workspace, @chat), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :chat_status %>
    <%= f.select :chat_status, options_for_select([['Active', 'active'], ['Archive', 'archive']], @chat.chat_status), {}, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update  hat', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back to chat List', workspace_chats_path(@workspace, @chat), class: 'btn btn-secondary' %>
