<%= form_for [@workspace, @user_workspace], url: workspace_user_workspace_path(@workspace, user_id: @user_workspace.user.id), method: :patch, local: true do |f| %>
  <div class="form-group">
    <%= f.label :profile_name %>
    <%= f.text_field :profile_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :role %>
    <%= f.select :role, options_for_select(['member', 'admin'], @user_workspace.role), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save', class: "btn btn-primary" %>
  </div>
<% end %>
